<h1>{{title}}</h1>
<p>Here is the SQL we used to create the small machines database.</p>
<p>It uses CREATE TABLE statements to define the fields in each table</p>
<p>We are also adding a bit of test data.</p>

<pre>{{sSQL}}</pre>

<p>Below is the data now stored in the stock table. We will run this query after each change to see its result</p> 

{{> stock_select}}


<a href="/sql/insert/">Next</a>

