<h1>{{title}}</h1>

<h2>This Web Server - an Online Database for Small Machines.</h2>
<p><span class="question">What do we need to consider in order to reserve the Small Machines that we have at school<br />
What are the things / entities we need to store in the Database?</span>
    <ul class="answer">
        <li>Who is reserving? <span class="answer">Students <br /> 
        We need to think about security and identifing the person booking
        maybe we could use schools logins using LDAP or Active Directory</span></li>
        <li>What are they reserving? <span class="answer">The stock of Small Machines</span></li>
        <li>What is in a reservation? 
            <ul class="answer">
                <li>Who ? <span class="answer">studentid</span></li>
                <li>What ? <span class="answer">stockid</span></li>
                <li>When ? <span class="answer">booked_date</span></li>
                <li>How many ? <span class="answer">quantity</span></li>
            </ul>
        </li>
    </ul>
</p>


<button id="start_presentation">Start Presentation Mode</button>
