<h1>{{title}}</h1>
<p>This web page is being served to you by the Raspberry PI in the corner of the room.</p>
<p>It is built using :-
    <ul>
        <li><a href="http://nodejs.org/">Node.js</a> A program that executes javascript code on computers (outside of a web browser).</li>
        <li><a href="http://expressjs.com/">Express</a> A javascript library for building webservers in Node.js</li>
        <li><a href="https://www.sqlite.org/">Sqlite</a> A super light weight DBMS (Database Management System)</li>
    </ul>
</p>
<h2>Contents</h2>
<ul>
    <li><a href="/stock/" target="_blank">
