body {
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.presentation {
    font-size: 150%;
}
a {
  color: #00B7FF;
}

table {
    background: lightgray;
}

th {
    width: 20%;
    text-align: left;
}

pre {
    background: lightblue;
}

.question{
    background:#EEEEEE;
}

.answer{
}

.answered{
    visibility: visible;
    background:#EEFFEE;
}

.current {
    font-size: 150%;
    padding:1em;
}