body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {background: lightgray;}

th {
    width: 20%;
    text-align: left;
}

pre {background: lightblue;}